<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.example.deviceui">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- If your app targets Android 9 or lower, you can declare ACCESS_COARSE_LOCATION instead. -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-feature
    android:name="android.hardware.bluetooth_le"
    android:required="true" />

  <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="DeviceUI"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".InputBluetooth"></activity>
    <activity
      android:name=".DeviceActivity"
      android:label="DeviceUI"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".InputCloudActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".OptionsActivity" />
    <activity
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity> <!-- <activity -->
    <service android:name=".SerialService" />
    <service android:name="org.eclipse.paho.android.service.MqttService" />
    <service
      android:name=".MqttMessageService"
      android:enabled="true"
      android:exported="false" />
  </application>

</manifest>